<!-- crud.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Panel de Control</title>
  <link rel="stylesheet" type="text/css" href="/css/estilocrud.css">
  <script src="https://kit.fontawesome.com/635ad548e0.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="dashboard-container">
    <aside class="sidebar">
      <h1>Catalogo</h1>
      <nav>
        <ul>
              <li>
                <a href="crud-productos"><span class="icon-file-text2"></span>Productos</a>
              </li>
              <li>
                <a href="crud-familia-productos"><span class="icon-file-text2"></span>Familia de productos</a>
              </li>
          <li>
            <a href="dashboard"><span class="icon-exit"></span>Volver</a>
          </li>
        </ul>
       </nav>
    </aside>

    <div id="dynamic-content-container" class="content-container">
      <h1>Formulario CRUD-PRODUCTOS</h1>
 
      <section class="add-contact">
        <h1>Añadir Producto:</h1>
        <form method="post" action="/producto">
		      <label for="codigo">Código:</label>
          <input type="text" name="codigo" required>
                    
          <label for="nombreProd">Nombre producto:</label>
          <input type="text" name="nombreProd" required>
              
          <label for="precio">Precio de venta:</label>
          <input type="number" name="precio" required>
          
          <label for="stock">Cantidad en bodega:</label>
          <input type="number" name="stock" required>		  
      
                
          <button type="submit">Guardar producto</button>
        </form>
      </section>
    
     
<section class="contact-list">
        <h2>Lista de productos:</h2>
        <table>
          <thead>
            <tr>
              <th>Codigo</th>
              <th>Producto</th>
              <th>Valor</th>
              <th>Stock</th>
			  <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <% productos.forEach(function(producto) { %>
              <tr>
                <td><%= producto.codigo %></td>
                <td><%= producto.nombreProd %></td>
                <td><%= producto.precio %></td>
				<td><%= producto.stock %></td>
                <td>
                  <form method="post" action="/producto/<%= producto._id %>/eliminar" style="display: inline;">
                    <input type="hidden" name="productoId" value="<%= producto._id %>">
                    <button type="submit">Eliminar</button>
                  </form>
                </td>
              </tr>
            <% }); %>
            

          </tbody>
        </table>
      </section>									
    </div>
  </div>
</body>
</html>
